body {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: "Mulish", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.active-scroll-spy {
    font-weight: bold;
    border-bottom: 1px solid #03045E;
    background-color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

input, textarea, select {
    color-scheme: light;
}